/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
}

/* Utility */
.container {
  max-width: 1100px;
  margin: auto;
}

.text-primary {
  color: #3693ff;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background: #333;
  color: #fff;
  padding: 2rem 12rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 3px solid #3693ff;
}

#navbar h2 a {
  color: #fff;
  text-decoration: none;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  transition: background-color 0.5s;
}

#navbar li a:hover {
  background-color: lightgrey;
}

/* Home Screen */

#home {
  background: url(images/portfolio-home.jpg) no-repeat center center/cover;
  height: 92.7vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 81px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 4rem;
}

.home-content ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 200px;
}

.home-content h1 {
  font-size: 7rem;
  margin-bottom: 2rem;
}

#home .home-content .button {
  transition: color 0.5s;
  display: inline-block;
}

#home .home-content .button:hover {
  color: white;
}

#github-button {
  color: #6e5494;
}

#linkedin-button {
  color: #2867b2;
}

#facebook-button {
  color: #4267b2;
}

/* About */

#about {
  padding: 5rem 0;
}

#about h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
  margin-top: 40px;
}

#about h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#about .lead {
  margin-bottom: 3rem;
  font-size: 2rem;
}

#about .about-content {
  display: flex;
}

#about .about-text,
#about .about-image {
  flex: 1;
}

#about .about-text {
  text-align: justify;
}

#about .about-image img {
  display: block;
  margin-left: auto;
  width: 75%;
  border-radius: 40%;
  margin-top: 60px;
}

/* Projects */
#projects .container {
  max-width: 1400px;
}

#projects .container h2 {
  text-align: center;
  font-size: 5rem;
  margin-top: 100px;
  margin-bottom: 5rem;
  padding-top: 90px;
}

#projects h3 {
  font-size: 3rem;
}

#projects p {
  font-size: 2rem;
}

#projects .project-image {
  width: 100%;
}

#projects .project-image img {
  width: 100%;
  height: auto;
  margin: auto;
  margin: 50px 0 30px 0;
}

#projects .boxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 5rem;
}

#projects .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 40%;
  margin: 5rem;
}
